.navbar{
	margin-bottom: 0;
}
.jumbotron{
	background-color: #080808;
}
#footer{
	background-color: #080808;
}
#search-block-form{
	margin-top: 20px;
}
#block-user-online{
	color: white;
}
#block-block-2{
	color: white;
}
.centered{
	/*specifying the width gave centered results*/
	width: auto;
	margin: 0 auto;
}
#main-wrapper{
	margin-bottom: 40px;
}
.displayNone{
	display: none !important;
}
.items-button-margin{
	margin-top: 40px;
}
.col-centered{
float: none;
margin: 0 auto;
}
.featured-background{
	background-color: #333333;
}
.carousel-image{
	float: none;
	width: 100%;
	margin: 0 auto;
	height: 400px;
}
.product-nodes{
	white-space: normal;
	float: none !important;
}
.product-nodes>*{
	width: 230px;
}
.row-fluid{
    overflow: hidden;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
}
#products>*{
	display: inline-block;
	float: none;
}
.products-button-wrapper{
	position: relative;
	margin: auto;
	height: 200px;
}

.products-prev-button{
	left: 0;
}
.products-next-button{
  right: 0;
  border-radius: 3px 0 0 3px;
}
.products-prev-button, .products-next-button{
	z-index: 1;
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	text-decoration: none !important;
}

#block-superfish-2, #block-superfish-3{
	color: white;
}

#block-superfish-2 a, #block-superfish-3 a:hover{
	text-decoration: none;
}
.odd-menu-link{
	color: rgb(153,205,253) !important;
}
.even-menu-link{
	color: white !important;
}
#block-views-products-block > h2 , #block-views-items-block > h2 {
	text-align: center;
}
.holder{
	display: none;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	background-color: rgba(0,0,0,0.6);
}
#bigBox{
	position: absolute;
	background: white;
	top: 50%;
	left: 50%;
	height: 300px;
	width: 600px;
	margin-left:-300px;
	margin-top: -150px;
	border: 1px solid #999;
}
@media (max-width: 767px) {
	#bigBox{
		height: 200px;
		width: 300px;
		margin-left:-150px;
		margin-top: -100px;
	}
}
.close{
	color: #888;
	float: right;	
	font-size: 40px;
	font-weight: bolder;
}
.close:hover, .close:focus{
	color: black;
	text-decoration: none;
	cursor: pointer;
}
#superfish-1 li a, #superfish-1 li ul li a, #superfish-1 li > span{
	margin:auto;
	position: relative;
    display: block;
    padding: 15px 15px;
    line-height: 20px;
    color: #999;
    cursor: pointer;
}
#superfish-1 span:hover, #superfish-1 > li > a{
	color: #fff;
}